{% extends 'base.html.twig' %}

{% block body %}
<div class="container mt-5">
    {{ form_start(form) }}
        {{ form_widget(form) }}
    <button class="btn btn-primary">Enregistrer</button>
    {{ form_end(form) }}
</div>
{% endblock %}