{% extends 'base.html.twig' %}

{% block body %}
<div class="container mt-5">
    <h1>Créer un nouveau bien</h1>
    {{ include('admin/property/form.html.twig', {form: form, button: 'Créer'}) }}
</div>
{% endblock %}