{% extends 'base.html.twig' %}

{% block body %}
<div class="jumbotron">
    <div class="container">
            <div class="row">
            <div class="col-md-8">
            </div>
            <div class="col-md-4">
                <h1>{{ property.title }}</h1>
                <h2>{{ property.rooms }} pièces - {{ property.surface }} m²</h2>
                <div class="text-primary" style="font-weight: bold; font-size: 4rem;">{{ property.formattedPrice }} €</div>
                <a href="#" class="btn btn-primary">Me contacter</a>
            </div>
        </div>
    </div>
</div>
<div class="container mt-4">
    <p style="font-weight: bold">{{ property.description }}</p>
    <div class="row">
        <div class="col-md-8">
            <h2>Caractéristiques</h2>
            <table class="table table-striped">
                <tr>
                    <td>Surface habitable</td>
                    <td>{{ property.surface }} m²</td>
                </tr>
                <tr>
                    <td>Pièces</td>
                    <td>{{ property.rooms }}</td>
                </tr>
                <tr>
                    <td>Chambres</td>
                    <td>{{ property.bedrooms }}</td>
                </tr>
                <tr>
                    <td>Etage</td>
                    <td>{{ property.floor }}</td>
                </tr>
                <tr>
                    <td>Chauffage</td>
                    <td>{{ property.heatType }}</td>
                </tr>
            </table>
        </div>
    </div>
</div>
{% endblock %}
